<%= include('includes/top.tmpl') %>

<div id="newsspec_7688" class="main ns__noJs">

<ul id="ns__navstrip" class="ns__navstrip">
	<li class="ns__nav__wrap ns__nav__wrap-first">
		<a class="ns__nav__item active" data-section="1" href='#'>Satellite image for 2012<span class="ns__date_stamp"><%=caption_1 %></span></a>
		<div class="delayed-image-load ns__thumb" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/azraq_refugee_camp_1.jpg" data-width="320" style="width: 100%;"></div>
	</li>
	<li class="ns__nav__wrap">
		<a class="ns__nav__item" data-section="2" href='#'>Satellite image for 2013<span class="ns__date_stamp"><%=caption_2 %></span></a>
		<div class="delayed-image-load ns__thumb" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/azraq_refugee_camp_2.jpg" data-width="320" style="width: 100%;"></div>
	</li>
	<li class="ns__nav__wrap">
		<a class="ns__nav__item" data-section="3" href='#'>Satellite image for 2013<span class="ns__date_stamp"><%=caption_3 %></span></a>
		<div class="delayed-image-load ns__thumb" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/azraq_refugee_camp_3.jpg" data-width="320" style="width: 100%;"></div>
	</li>
	<li class="ns__nav__wrap">
		<a class="ns__nav__item" data-section="4" href='#'>Satellite image for 2013<span class="ns__date_stamp"><%=caption_4 %></span></a>
		<div class="delayed-image-load ns__thumb" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/azraq_refugee_camp_4.jpg" data-width="320" style="width: 100%;"></div>
	</li>
</ul>
<div id="ns__viewport" class="ns__viewport">
	<div class="delayed-image-load ns__viewport__item active js-ns-item-1" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/azraq_refugee_camp_1.jpg" data-width="320" style="width: 100%;"></div>
	<span class="ns__res__date"><%=caption_1 %></span>
	<div class="delayed-image-load ns__viewport__item js-ns-item-2" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/azraq_refugee_camp_2.jpg" data-width="320" style="width: 100%;"></div>
	<span class="ns__res__date"><%=caption_2 %></span>
	<div class="delayed-image-load ns__viewport__item js-ns-item-3" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/azraq_refugee_camp_3.jpg" data-width="320" style="width: 100%;"></div>
	<span class="ns__res__date"><%=caption_3 %></span>
	<div class="delayed-image-load ns__viewport__item js-ns-item-4" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/azraq_refugee_camp_4.jpg" data-width="320" style="width: 100%;"></div>
	<span class="ns__res__date"><%=caption_4 %></span>
	<!--<div class="ns__key">
		<h3>Key</h3>
		<ul>
			<li class="shelter"><span>Shelter structures</span></li>
			<li class="admin"><span>Administration structures</span></li>
		</ul>
	</div>-->
</div>

</div>
<%= include('includes/bottom.tmpl') %>